torch
numpy==1.21.2
filelock==3.0.12
packaging==21.0
regex==2021.9.24
sacremoses==0.0.45
tokenizers
torch
transformers
huggingface_hub
sagemaker
scikit-learn
scikit-learn-extra
sqlparse
nltk
openai
gymnasium
tenacity
sentencepiece
matplotlib
tensorboard